/*.registration-container {
    background: #000000;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00b7ff;
    border-radius: 5px;
    color: #00b7ff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
    transition: background-color 0.5s ease;
  }

    
  input[type='text']:hover,
  input[type='email']:hover,
  input[type='password']:hover {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #000cb3;

  }
  
  button {
    background-color: #007bff;
    color: #eff1f5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    background-color: #000cb3;
  }*/

  .login-container {
    background: #444444;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #00b7ff;
    border-radius: 5px;
    color: #00b7ff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #00b7ff; /* Label text color */
}

input[type='text'],
input[type='username'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #00b7ff; /* Input border color */
    transition: background-color 0.5s ease;
    color: #ffffff; /* Input text color */
    background-color: #3a3838; /* Input background color */
}

input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover {
    background-color: #000cb3; /* Input background color on hover */
}

button {
    background-color: #007bff;
    color: #eff1f5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #000cb3; /* Button background color on hover */
}
